a:link{
    color:brown;
}
a:visited{
    color: coral;
}
a:hover{
    color: blue;
    font-size: 30px;
}
a:active{
    color:cornsilk;
}
.button{
     border-radius: 5px;
     border: none;
     background-color: burlywood;
     color: #FFF;
     text-align: center;
     font-size: 28px;
}
.button:hover {background-color: brown;}

.button:active{
    background-color: #3e3e3e;
    box-shadow: 0 5px #7e1d1d ;
}